body {
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.attribution {

  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
main {
  background-color: hsl(244, 38%, 16%);
flex-wrap: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  border: 1px solid #000;
  border-radius: 0.5rem;
  
  
  padding-left: 2rem;

}
.section-first {
  
  height: 350px;
 
}
h1 {
  color: #fff;
}
.insight {
  color: hsl(277, 64%, 61%);
}
.first-text {margin-top: 6rem ;
  margin-bottom: 6rem ;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 13px;
}
.spans {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  
}
.span1,
.span3,
.span5 {
  font-size: 15px;
  color: #fff;
  display: block;
}
.span2,
.span4,
.span6 {
  font-size: 11px;
  color: hsla(0, 0%, 100%, 0.6);
}
.section-second {
  
  background-color:  hsl(277, 64%, 61%);
    }
.img {
mix-blend-mode: multiply;
opacity: 0.75;

   max-width: 400px;
   height: 350px;
   border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
}



@media (max-width: 56.25em) {
  main{
    flex-wrap: wrap;
  }
  .section-first{
    width: 80%;
    height: 40%;
    order:2;
  }
  .spans {
flex-direction: column;
align-items: center;
  }
  .section-second {

}
.img{
  width: 120%;
  margin-left: 0rem;
  /* height: 120%;   */
}
}